# See httpsdocs.github.comget-startedgetting-started-with-gitignoring-files for more about ignoring files.

# Compiled output
dist
tmp
out-tsc
bazel-out
.angular

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea
.project
.classpath
.c9
.launch
.settings
.sublime-workspace

# Visual Studio Code
.vscode
!.vscodesettings.json
!.vscodetasks.json
!.vscodelaunch.json
!.vscodeextensions.json
.history
.editorconfig

# Miscellaneous
.angularcache
.sass-cache
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# System files
.DS_Store
Thumbs.db
